$primary : #3f51b5;
$p-light : #ffd95b;
$p-dark  : #c77800;

$white : #ffffff;
$black : #000000;
$primary-green : #1abc9c;

$table-heading-color : #2c3e50;
$table-text-color : #34495e;

$border-color : #ede7f6;

$primary-btn : #3f51b5;
$warn-btn    : #f44336;

$deselected :#bdc3c7;
$configured :#2ecc71;

$primary-header-font-size :   24px;
$sub-header-font-size     :   18px;