<div class="container">
  <div class="common-wrapper">
    <div class="product-name">
        <h1>{{product?.productAbbreviation}}</h1>
    </div>
    <form *ngIf="configureForm" 
    (ngSubmit)="onSubmit(configureForm.value)" 
    [formGroup]="configureForm">  
      <md-card>
          <md-card-content>
            <md-card-title>Product</md-card-title>
          
            <div class="product-content">
              <div class="warapper">
                <md-card-subtitle>Product Relationship Styles</md-card-subtitle>
                <div class="wrapper-inner" >
                    <md-radio-group 
                        [(ngModel)]="productLifeRelationship"
                        formControlName="productLifeRelationship" >
                        
                      <md-radio-button value="1">Single</md-radio-button>
                      <md-radio-button value="2">Family</md-radio-button>
                      <md-radio-button value="3">Joint</md-radio-button>
                    </md-radio-group>
                </div>
              </div>

              <div class="warapper">
                <md-card-subtitle>Channel</md-card-subtitle>
                <div class="wrapper-inner">
                  <div class="wrapper-channels" formArrayName="channel">
                    <div *ngFor="let channel of configureForm.controls.channel.controls; let i=index"
                    [formGroup]="configureForm.controls.channel.controls[i]" >
                        <md-checkbox 
                          formControlName="checked" >
                          {{channel.value.name}}
                        </md-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </md-card-content>
      </md-card>
      <md-card>
          <md-card-content  @explainerAnim >
            <md-card-title>Riders</md-card-title>
            <div class="warapper life-check"  formArrayName="attachedRiders">
              <div *ngFor="let rider of configureForm.controls.attachedRiders.controls; let i=index" 
                    class="rider-wrapper" [formGroup]="configureForm.controls.attachedRiders.controls[i]">
                <div class="rider-name">
                  <div class="rider-name-block">
                    {{rider.value.productCode}}
                  </div>
                  
                  <div class="wrapper-default-check">
                    <md-checkbox 
                      formControlName="mainLife_default"
                      color = "primary">
                      Default
                    </md-checkbox>
                    <md-form-field 
                      *ngIf="rider.value.mainLife_default"
                      class="sum-assured" >
                      <input mdInput
                            formControlName="mainLife_sa" 
                            placeholder="Sum assured">
                    </md-form-field>
                  </div>
                </div>
                
                <div class="relationship">
                  <section>
                    <md-checkbox 
                      *ngIf     = "productLifeRelationship == 1 
                      || productLifeRelationship == 2 
                      || productLifeRelationship == 3"
                      formControlName="mainLife"
                      [checked] = "main">
                      Main Life
                    </md-checkbox>

                    <md-checkbox 
                      formControlName="spouse"
                      *ngIf   = "productLifeRelationship == 2" >
                      Spouse
                    </md-checkbox>

                    <md-checkbox 
                      formControlName="child"
                      *ngIf   = "productLifeRelationship == 2" >
                      Child
                    </md-checkbox>

                    <md-checkbox 
                      formControlName="join"
                      *ngIf   = "productLifeRelationship == 3" >
                      Join
                    </md-checkbox>
                    
                  </section>
                </div>
              </div>
            </div>
          </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>
            Feilds
        </md-card-title>
        <md-card-content>
          <div class="warapper">
            <md-card-subtitle>Extra Fields</md-card-subtitle>
            <div formArrayName="extraFeild" [@listAnimation]="configureForm.controls.extraFeild.controls.length">
              <div *ngFor="let extraFeild of configureForm.controls.extraFeild.controls; let i=index">
                <div class="additional-feild-container" >
                  <i class="material-icons clear-btn-addinput" (click)="removeFeild(i)">clear</i>
                  <app-personaldetails 
                    [feildIndex] = "i"
                    [values] = "product.extraFeild[i]"
                    [group]="configureForm.controls.extraFeild.controls[i]"></app-personaldetails>
                </div>
              </div>
            </div>
            <div class="add-feild">
                <a (click)="addFeild()">
                    <i class="material-icons clear-btn-addinput">add</i> Add feild to product
                </a>
            </div>
          </div>
          <!-- <div class="warapper">
            <md-card-subtitle>Needs</md-card-subtitle>
            <div class="wrapper-needs" formArrayName="needs">
              <div *ngFor="let need of configureForm.controls.needs.controls; let i=index"
              [formGroup]="configureForm.controls.needs.controls[i]" >
                  <md-checkbox 
                    formControlName="need" >
                    {{need.value.lable}}
                  </md-checkbox>
              </div>
            </div>
          </div> -->
        </md-card-content>
      </md-card>
      
      <div class="submit-btn-area">
        <button type="submit" 
          md-raised-button 
          color="primary">Set Configuration</button>
      </div>
    </form>
    <ngx-loading 
      [show]="loading" 
      [config]="{ backdropBorderRadius: '14px' }">
    </ngx-loading>
  </div>
</div>



